.background 
{
    background-image: url(images/homepage.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.font
{
    font-family: 'Inria Sans', sans-serif;
    font-weight: normal;
    font-size: 40px;
}

#header
{
    font-size: 70px;
    font-weight: bold;
}
